systemLog:
  destination: file
  path: {{ mongodb_log }}
  logRotate: reopen
  logAppend: true
storage:
  dbPath: {{ mongodb_datadrive }}
  journal:
    enabled: true
net:
  port: {{ mongodb_port }}
  bindIpAll: true
processManagement:
  fork: true  # fork and run in background
  pidFilePath: {{mongodb_conf_pidFile }}/mongod.pid  # location of pidfile
